* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  background-color: #e3e7e8;
}
body {
  width: 100vw;
  min-width: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vp {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 200%;
}
